

body {
  background-color: #CCC;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

main {
  margin: 0 auto 0 auto ;
  max-width: 634px;
  background-color: white;
}

h1 {
  margin:0 auto 0 auto;
  padding:1em;
  text-align: center;
}

.add-todo-container {
  display: flex;
  padding:1em;
}

.add-todo-container input {
  flex-grow:1;
}

.add-todo-container button:disabled {
  opacity: 0.3;
}

.nothing {
  font-style: italic;
}

#todolist {
  padding:1em;
  list-style-type: none;
  display:grid;
  grid-template-columns: max-content max-content;
  column-gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

#todolist label {
  max-width: 550px;
}

#todolist button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:1.25rem;
  background-color: white;
  color: rgb(158, 37, 37);
  border: none;
  font-weight: bold;
}

#todolist button:hover {
  color: rgb(237, 16, 16);
}

.completed {
  text-decoration: line-through;
}

.todocontainer {
  border:1px solid black;
}

.todo-footer {
  display:flex;
  flex-direction: row;
  align-items: center;
}

#todos-remaining {
  padding-left:1em;
  min-width: 100px;
}

.filter-buttons {
  list-style-type: none;
  display:flex;
  flex-direction: row;
}


.filter-buttons input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.filter-buttons input[type="radio"]:checked+label,
.checked+label {
  border: 1px solid black;
  background: rgb(175, 194, 242);
}

.filter-buttons label {
  display: inline-block;
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
  width:80px;
  text-align: center;
}

#btn-add-todo {
  background-color: white;
  border:none;
}

